In [8]:
import pandas as pd 
%reload_kedro
data_set = context.catalog.load('dados_particionados')

2021-06-25 15:04:11,948 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-06-25 15:04:11,962 - kedro.framework.session.session - WARNING - Unable to git describe /Users/victorapolonio/Code/raizen_etl
2021-06-25 15:04:12,000 - root - INFO - ** Kedro project raizen_etl
2021-06-25 15:04:12,001 - root - INFO - Defined global variable `context`, `session` and `catalog`
2021-06-25 15:04:12,012 - root - INFO - Registered line magic `run_viz`
2021-06-25 15:04:12,024 - kedro.io.data_catalog - INFO - Loading data from `dados_particionados` (PartitionedDataSet)...

In [9]:
combine_all_partitions = pd.DataFrame()

for partition_id, partition_load_func in data_set.items():
    partition_data = partition_load_func()
    combine_all_partitions = pd.concat(
        [combine_all_partitions, partition_data], ignore_index=True, sort=True
    )

In [10]:
combine_all_partitions

,created_at,product,table,uf,unit,volume,year_month
0,2021-06-25 14:58:20.390475,GASOLINA C,derivados,RO,m3,136073.253,2000-01-01 00:00:00.000000
1,2021-06-25 14:58:20.390503,GASOLINA C,derivados,RO,m3,9563.263,2000-02-01 00:00:00.000000
2,2021-06-25 14:58:20.390517,GASOLINA C,derivados,RO,m3,11341.229,2000-03-01 00:00:00.000000
3,2021-06-25 14:58:20.390529,GASOLINA C,derivados,RO,m3,9369.746,2000-04-01 00:00:00.000000
4,2021-06-25 14:58:20.390540,GASOLINA C,derivados,RO,m3,10719.983,2000-05-01 00:00:00.000000
...,...,...,...,...,...,...,...
67387,2021-06-25 14:58:20.964348,ÓLEO DIESEL (OUTROS ),diesel,DF,m3,0.000,2020-08-01 00:00:00.000000
67388,2021-06-25 14:58:20.964358,ÓLEO DIESEL (OUTROS ),diesel,DF,m3,0.000,2020-09-01 00:00:00.000000
67389,2021-06-25 14:58:20.964368,ÓLEO DIESEL (OUTROS ),diesel,DF,m3,0.000,2020-10-01 00:00:00.000000
67390,2021-06-25 14:58:20.964378,ÓLEO DIESEL (OUTROS ),diesel,DF,m3,0.000,2020-11-01 00:00:00.000000
67391,2021-06-25 14:58:20.964387,ÓLEO DIESEL (OUTROS ),diesel,DF,m3,0.000,2020-12-01 00:00:00.000000